@model IEnumerable<Sistema3SS_2020.Models.Insumos>

<br />
<p>
    <input class="alert-success" type="button" onclick="location.href='@Url.Action("Create", "Insumos")'" value="Agregar nuevo insumo" />
</p>
<table class="table table-striped">
    <thead  class="thead-light">
        <tr>
            <th class="text-center">
               <a>Clave de insumo</a>
            </th>
            <th class="text-center">
                <a>Nombre</a>
            </th>
            <th class="text-center">
                <a>Inidad medida <span class="alert-info">(kg./Pul./Etc..)</span> </a>
            </th>
            <th class="text-center">
                <a>Cantidad</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.id_tipo)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.unidad_medida)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                <input class="alert" type="button" onclick="location.href='@Url.Action("Edit", "Insumos",new { item.id })'" value="Editar caracteristicas" />
            </td>
        </tr>
        }
    </tbody>
</table>
