@model IEnumerable<Sistema3SS_2020.Models.Granja>

<br />
<p>
    <input class="alert-success" type="button" onclick="location.href='@Url.Action("CrearProyecto", "AdminProyectos")'" value="Agregar nueva granja" />
</p>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th class="text-center">
                <a>Nombre</a>
            </th>
            <th class="text-center">
                <a>Ubicación</a>
            </th>
            <th class="text-center">
                <a><spam archive> Resposable</spam></a>
            </th>
            <th class="text-center">
                <a>Numero de estanques</a>
            </th>
            <th class="text-center">
                <a>Perimo de hectareas <span class="alert-info">m²</span></a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ubicacion)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.nombre_completo_responsable)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.numero_estanques)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.perimetro_hetareas)
                </td>
                <td>
                    <input class="alert" type="button" onclick="location.href='@Url.Action("Edit", "Granja",new { item.id })'" value="Editar cuenta" />
                </td>
            </tr>
        }
    </tbody>
</table>
