@model IEnumerable<Sistema3SS_2020.Models.Usuario>

<br />
<p>
    <input class="alert-success" type="button" onclick="location.href='@Url.Action("Create", "Usuario")'" value="Agregar nuevo cuenta" />
</p>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th class="text-center">
                <a>Nombre</a>
            </th>
            <th class="text-center">
                <a>Apellido paterno</a>
            </th>
            <th class="text-center">
                <a>Apellido materno</a>
            </th>
            <th class="text-center">
                <a>Clave de tipo</a>
            </th>
            <th class="text-center">
                <a>Correo electronico</a>
            </th>
            <th class="text-center">
                <a>Numero de celular</a>
            </th>
            <th class="text-center">
                <a>Direccción</a>
            </th>
            <th class="text-center">
                <a>Fecha de nacimiento</a>
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.activo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.apellido_paterno)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.apellido_materno)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.id_tipo)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.correo_electronico)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.numero_celular)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.fecha_nacimiento)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.activo)
                </td>
                <td>
                    <input class="alert" type="button" onclick="location.href='@Url.Action("Edit", "Usuario",new { item.id })'" value="Editar información" />
                </td>
            </tr>
        }
    </tbody>
</table>
