@model Sistema3SS_2020.Models.Proyecto
<html>
<head>
    <script src="~/Scrips/Proyecto.js"></script>
</head>
<body>
    <partial name="/Views/Shared/NavBar.cshtml" />
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Crear <b>Proyecto</b></h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    </thead>
                    <tbody>
                        <div class="flex-row">
                            <div class="col-md-10">
                                <form asp-action="Create">
                                    <div class="active col-md-3">
                                        <label hidden asp-for="id" class="control-label"></label>
                                        <input hidden asp-for="id" class="form-control" />
                                        <span asp-validation-for="id" class="text-danger"></span>
                                    </div>
                                    <div class="active col-md-5">
                                        <label class="control-label"> Fecha de inicio</label>
                                        <input asp-for="fecha_incial" class="form-control" />
                                        <span asp-validation-for="fecha_incial" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-5">
                                        <label class="control-label"> Fecha de culminación</label>
                                        <input asp-for="fecha_final" class="form-control" />
                                        <span asp-validation-for="fecha_final" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-7">
                                        <label hidden asp-for="idUsuarioAutoriso" class="control-label"></label>
                                        <input hidden asp-for="idUsuarioAutoriso" class="form-control" />
                                        <span asp-validation-for="idUsuarioAutoriso" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-7">
                                        <label class="control-label">Granjas</label>
                                        <select onchange="AgregarGranja();" name="SelectGranja" class="custom-select d-block w-100" id="SelectGranja" runat="server">
                                            <option value="0">Nombre...</option>
                                            @foreach (var granja in Model.granjas)
                                            {
                                                <option value="@granja.id">@granja.nombre</option>
                                            }
                                        </select>
                                        <div>
                                            <label name="ejempo1" class="form-control" runat="server">Granjas añadidas</label>
                                            <div id="DivSelectGranja" class="container">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"> Temporada</label>
                                        <select name="SelectTempo" class="custom-select d-block w-100" id="SelectTempo" runat="server">
                                            <option value="0">Nombre...</option>
                                            @foreach (var tempo in Model.temporadas)
                                            {
                                                <option value="@tempo.id">@tempo.fecha_inicial - @tempo.fecha_final</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="CREAR PROYECTO" class="form-control" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
