@model IEnumerable<Sistema3SS_2020.Models.Proyecto>

<br />
    <p>
        <input class="alert-success" type="button" onclick="location.href='@Url.Action("CrearProyecto", "AdminProyectos")'" value="Crear nuevo proyecto" />
    </p>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th class="text-center">
               <a>Fecha inicial</a>
            </th>
            <th class="text-center">
                <a>Fecha Final</a>
            </th>
            <th class="text-center">
                <a>Clave de usuario autorizo</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-center">
                <a>@item.fecha_incial</a>
            </td>
            <td class="text-center">
                <a>@item.fecha_final</a>
            </td>
            <td class="text-center">
                <a>@item.idUsuarioAutoriso</a>
            </td>
            <td>
                <input class="alert" type="button" onclick="location.href='@Url.Action("CrearPresupuesto", "AdminProyectos",new { item.id })'" value="Ver presupuesto"/>
            </td>
        </tr>
}
    </tbody>
</table>
